/*************************************************************************************************/
/* Message para IE7 */
/*************************************************************************************************/


.browserupgrade_box {
	display: block;
	background: #fff;
    height: 100%;
    position: fixed;
    width: 80%;
    text-align: center;
    padding-top: 150px;
    z-index: 99999;
}