/*************************************************************************************************/
/* Variables   */ 
/*************************************************************************************************/

$barra-menu: #151515;
$bg-video: #000;
$cor-template: #0b9c92;
$cor-fonte: #292929;

/*************************************************************************************************/
/* MENU   */ 
/*************************************************************************************************/

$cor-icone-menu: #0b9c92;
$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

/*************************************************************************************************/
/* BG VIDEOS   */ 
/*************************************************************************************************/

$bg-header: '../images/videos/bg-header_.jpg';